<form method="post" action="{{ path('brewery_delete', {'id': brewery.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brewery.id) }}">
    <button class="btn">Delete</button>
</form>
